<form>
  <h1>Sort by:</h1> 
  <button mat-stroked-button>Popularity low to high</button>
  <button mat-stroked-button>Populity high to low</button>
  <button mat-stroked-button>Most recent first</button>
  <button mat-stroked-button>Oldies first</button>
  <mat-radio-group aria-label="Genre" >
    <mat-radio-button value="1">All</mat-radio-button>
    <mat-radio-button value="2">Drama</mat-radio-button>
    <mat-radio-button value="3">Comedy</mat-radio-button>
    <mat-radio-button value="4">Action</mat-radio-button>
    <mat-radio-button value="5">Adventure</mat-radio-button>
  </mat-radio-group>
  <button>Sort</button>
</form>